<!DOCTYPE html>
<html>
  <head>
    <title>AmazonClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    
    <link rel="shortcut icon" type="image/png" href="https://rainforest-dev.s3.us-west-1.amazonaws.com/favicon-32x32.png">
    <script src="https://kit.fontawesome.com/936beeeca6.js" crossorigin="anonymous"></script>

     <meta property="og:title" content="RainForest" />
     <meta property='og:image' content="<%= image_url('main_page_screenshot.png') %>"/>
     <meta property="og:description"
       content="RainForest is a full stack web application meant to imitate Amazon.com. Search for products by name or browse products by category. Add the products you would like to your cart and checkout when you are finished. Leave reviews for any products that you would like to share your opinion on!"
     />
     <meta property="og:url"
       content="https://rainforest-amazon-clone.herokuapp.com/#/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
