<!DOCTYPE html>
<html>
  <head>
    <title>AmazonClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    
    <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon-32x32') %>">
    <script src="https://kit.fontawesome.com/936beeeca6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
